.filter-test{
    background: #ebecfd; 
   
    display: flex;
    display: flex;
    flex: 1;
    margin:0 15px 20px 15px;

    .filter-sub-block{
        display: flex;
        flex: 1;
        padding: 1rem;
        flex-direction: column;

        .MuiSvgIcon-root{
            width: .7em;
            height: .7em;
        }
        .MuiIconButton-root{
            padding: 6px;
        }
        .filter-list{
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            
        }
        label{
            margin-bottom: 0;
        }
        .MuiFormControlLabel-root{
            margin-left: -8px;
        }
    }
}

#table-heading{
    z-index: 2;
    background: #fafafa;
    top: 0;
}
.table-head{
    z-index: 1;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
}

html {
    display: grid;
    min-height: 100%;
  }
  


  .longCard {
    position: relative;
    margin: auto;
    width: 100%;
    background: rgba(255,255,255);
    box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0px 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0;
    transition: 0.1s ease-in; 
    margin: 7px 0;
    overflow: hidden;
    padding:15px;
  }
    
  .longCard:nth-child(2){
    margin-top: 0;
  }
  
  .longCard:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0px 1px 3px 0 rgba(0, 0, 0, 0.12);
  }
  .extended-row{
    padding: 30px 20px 0 20px;
    background-color: #fbfbfb;
    margin: 10px;
  }
  
  .company-name{
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.6)
  }
  .primary-text{
    font-size: 1em;
    color: rgba(0, 0, 0, 0.8)
  }
  .title-text{
    font-size: 0.65em;
    color: rgba(0,0,0,0.5);
  }
  
  
  h3{
    font-family: 'GTWalsheimMedium', sans-serif!important;
    font-size: 1rem;
    margin-bottom: 0;
  }
      
  .table-head{
    display: flex;
    background: #ebecfd;
    padding:.5rem 0;
    margin-bottom: .5rem;
    
  }  
  .table-col{
    display: flex;
    
  }
  .data-col{       
    flex: 1;
    padding: 1rem;
    align-items: center;
    display: flex;
  }  
  
  .pagination-block{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  @media (max-width: 1100px) {
    .custom-table{           
        overflow-x: auto;
        flex-wrap: nowrap;
    }        
  
    .data-col{       
        flex:0 0 auto;
        flex-wrap: wrap;
    }
  
    .data-col:nth-child(1){       
        width: 20%;
    }
  
    .data-col:nth-child(12){       
        width: 20%;
    }
  }

.data-badge .MuiBadge-badge {
    left: 5px;
    height: 18px;
    width: 18px;
    z-index: 0;
}


  .edit-icon
{
    background-image: url("../images/edit.svg"); 
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    text-indent: -9999px;
    transition: .3s all;
}
.more-icon
{
    background-image: url("../images/more.svg"); 
    width: 29px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: 70%;
    cursor: pointer;
    background-position: center;
    text-indent: -9999px;
    border: solid 1px #928f8f;
    border-radius: 3px;
    margin:3px 0 0 20px;
    transition: .3s all;
}
.edit-icon:hover, .more-icon:hover{
    opacity: .5;
}


.g-filters
    {
        padding-left: 32px;position: relative;
    }
    .g-filters::before
    {
        content: "";
    background-image: url("../images/filter.svg"); 
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    text-indent: -9999px;
    position: absolute;
    left:10px;
    }