.filter-test{
    background: #ebecfd; 
   
    display: flex;
    display: flex;
    flex: 1;
    margin:0 15px 20px 15px;

    .filter-sub-block{
        display: flex;
        flex: 1;
        padding: 1rem;
        flex-direction: column;

        .MuiSvgIcon-root{
            width: .7em;
            height: .7em;
        }
        .MuiIconButton-root{
            padding: 6px;
        }
        .filter-list{
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            
        }
        label{
            margin-bottom: 0;
        }
        .MuiFormControlLabel-root{
            margin-left: -8px;
        }
    }
}

#table-heading{
    z-index: 2;
    background: #fafafa;
    top: 0;
}
.table-head{
    z-index: 1;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
}